<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>LinkedIn Room</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- NEW TITLE -->
  <h1 id="pageTitle">LinkedIn Room</h1>

  <div id="videoDiv"></div>

  <button id="muteButton">Mute</button>
  <button id="videoButton">Stop Video</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1/dist/peerjs.min.js"></script>
  <script src="/index.js"></script>
</body>

</html>
